@mixin note($color-l, $color-m, $color-o) {
    .note-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3vh;
        z-index: 1;
        box-shadow: 0 0 .2em .05em $color-o;
        span:first-child {
            width: 30vw;
        }
        span {
            font-size: 1.1em;
            padding: .5vh 1vw;
        }
        div {
            display: flex;
            a, input {
                font-size: 1.2em;
                padding: .4vh .5vw;
                margin: 0;
                color: $color-o;
                background-color: $color-l;
                cursor: pointer;
            }
            input {
                color: $color-m;
                background-color: rgb(252, 158, 158)
            };
        }
    }
}